.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px; /* or 950px */
}

.jumbotron p {
    font-size: 14px;
}

.table .table-field-id {
    margin: 0;
    text-align: center;
    width: 36px;
}

.debug {
    border: 1px solid red;
}

.job-list h3 {
    display: inline;
}

.job-list li {
    clear: right;
}

.job-list .glyphicon {
    font-size: .7em;
}

.job-list .detail {
}

.job-list, .job-list ul, #job-view ul, #job-view ol {
    padding-left: 0;
    list-style: none;
}

.job-list ul {
    padding-left: 15px;
}

.job-list > li {
    margin-bottom: 8px;
}

.job-list p {
    padding: 0;
    margin: 0;
}

.job-list abbr[title] {
    cursor: help;
    border-bottom: none;
}

.job-list .job-link, .job-list .job-link:hover {
    text-decoration: none;
    color: inherit;
}

#job-list .job-link:focus, #job-list .job-link:hover {
    background: #DDD;
    color: inherit;
}

#job-list .selected {
    background: #777 !important;
    color: #EEE !important;
}
#job-list .selected small {
    color: #FFF !important;
}

#todo-list input.edit {
    display: none; /* Hides input box*/
}

#todo-list .editing label {
    display: none; /* Hides label text when .editing*/
}

#todo-list .editing input.edit {
    display: inline; /* Shows input text box when .editing*/
}

.script .info-name {
    font-weight: bold;
}

.script .info-value:after {
    content: " | ";
    padding: 0 10px;
    color: #999;
    font-size: 0.7em;
}

.script .info-value:last-of-type:after {
    content: "";
}

.script {
    margin: 20px 0 10px;
    clear: right;
}
.script h4 {
    display: inline-block;
}

.script-info {
    margin: 20px 0 10px;
}

.script .command .running:before {
    background: #8C8;
    color: #FFF;
}

.command .queued {
    opacity: 0.5;
}

.command {
    counter-reset: line-numbering;
}

.command>li:hover {
    background: #DDD;
}

.command>li, .command .stdout-stderr {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #EEE;
}

.command .stdout-stderr {
    background: #FFF;
}

.command li:before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 10px;
    color: #999;
    text-align: right;
    display: inline-block;
    min-width: 40px;
}

.command li .source, .command li .info {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    color: #333;
    background: none;
}


.command li .info {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.7em;
    height: 24px;
    line-height: 22px;
    color: #3a2825;
    background: #d7cbc8;
    padding: 2px 6px 2px 6px;
    margin: 2px 5px 2px 0;
}

.command li .exit-info {
    background: #D9534F;
    color: #FFF;
    font-weight: bold;
}

.command .non-collapsible-command:before {

}

.command code.source:before {
  content: " > ";
  color: #AAA;
}

.command .collapsible-command:before {
    border-left:  5px solid #666;
    color: #AAA;
}

.command .stdout-stderr pre {
    display: block;
    border: none;
    padding: 5px;
    margin: 0 0 0 40px ;
    border-radius: 0;
    font-size: 0.8em;
    white-space: nowrap;
}

.command .stdout-stderr .command-output-stderr {
    border-left: 5px solid #F58C8C;
    background: #F7E8E8;
    color: #c7254e;
}

.command .stdout-stderr .command-output-stdout {
    border-left: 5px solid #62c32a;
    background: #e8f7d9;
    color: #4e8822;
}


.collapsible-closed {
    display: none;
    clear: right;
}