{% from "_formhelpers.html" import render_field, h1 %}
{% extends "main.html" %}

{% block content %}

  {{ h1 (get_title()) }}


  <div class="row">
    <div class="col-md-4">
      <ul class="job-list" id="job-list">
        <li class="alert alert-info job-loading" role="alert">Loading job list</li>
      </ul>
    </div>

    <div class="col-md-8" id="job-view">
    </div>
  </div>
</div>

  <!-- Templates -->
  <script type="text/template" id="no-jobs-template">
    <li class="alert alert-warning job-loading" role="alert">
      Currently there are no <strong>jobs</strong> created.
      But you can <a href="{{ url_for ('jobs.create_job') }}" class="btn btn-warning">create job</a> right now.
    </li>
  </script>

  <script type="text/template" id="message-template">
    <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
  </script>

  <script type="text/template" id="job-peek-template">
    <li>
      <a href="{{ url_for ('jobs.list_jobs') }}#job/<%= id %>" data-job-id="<%= id %>"
         class="job-link panel panel-default list-group-item list-group-item-default">
        <div class="panel-body">
          <h3><small>{'{ .username|e }} / </small> <%= name %></h3>
          <p class="pull-right">#<%= scripts.length %></p>
        </div>
      </a>
    </li>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-content panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= name %>
          <small> <%= id %></small>
        </h3>
      </div>
      <div class="panel-body">

        <% var i = 0; _.each(scripts, function(script) { i++; %>
        <ul>
          <li class="script" id="script_<%= script.id %>">
            <h4>Script <%= i %></h4>
            <a type="button" class="btn btn-danger pull-right run-script" data-script-id="<%= script.id %>">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run script
            </a>

            <div class="script-info">
              <span class="glyphicon glyphicon-tag info-icon" aria-hidden="true"></span>
              <span class="info-name">Result: </span>
              <span class=" info-value"><%= script.result %></span>

              <span class="glyphicon glyphicon-time info-icon" aria-hidden="true"></span>
              <span class="info-name">Duration: </span>
              <span class=" info-value"><%= script.duration %></span>

              <span class="glyphicon glyphicon-calendar info-icon" aria-hidden="true"></span>
              <span class="info-name">Finished: </span>
              <span class="info-value"><%= script.timestamp %></span>
            </div>

            <ol class="command">
              <% _.each(script.commands, function(command) { %>

              <% if (!!command.source_code.trim()) { %>
                <% if (command.hasData) { %>
                  <li class="collapsible-command" id="command_<%= command.id %>">
                <% } else { %>
                  <li class="non-collapsible-command" id="command_<%=  command.id %>">
                <% } %>


                  <code class="source"><%= command.source_code %></code>

                  <% if (command.exitCodeRepr) { %>
                    <code class="info pull-right exit-info"><%= command.exitCodeRepr %></code>
                  <% } else { %>
                    <code class="info pull-right exit-info hidden" />
                  <% } %>

                  <% if (command.durationRepr) { %>
                    <code class="info pull-right duration-info"><%= command.durationRepr %></code>
                  <% } else { %>
                    <code class="info pull-right duration-info hidden" />
                  <% } %>
                </li>

                <div class="collapsible-closed stdout-stderr">
                  <% if (command.outputLines.length) { %>
                    <pre class="stdout text-info">
                        <% _.each(command.outputLines, function (value, index) { %>
                          <li><%= value %></li>
                        <% }); %>
                    </pre>
                  <% } else { %>
                    <pre class="stdout text-info hidden" />
                  <% } %>

                  <% if (command.errorLines.length) { %>
                    <pre class="stderr text-info">
                        <% _.each(command.errorLines, function (value, index) { %>
                          <li><%= value %></li>
                        <% }); %>
                    </pre>
                  <% } else { %>
                    <pre class="stderr text-danger hidden" />
                  <% } %>
                </div>
              <% } %>
              <% }); %>
            </ol>
          </li>
        </ul>
        <% }); %>
      </div>
    </div>
  </script>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/static/js/frameworks/backbone.js"></script>
  <script src="/static/js/frameworks/backbone.localStorage.js"></script>
  <script src="/static/js/frameworks/socket.io.min.js"></script>

  <!-- models and collections -->
  <script src="/static/js/backbone/models/job.js"></script>
  <script src="/static/js/backbone/collections/jobs.js"></script>
  <script src="/static/js/backbone/sockets/run-code.js"></script>

  <!-- views -->
  <script src="/static/js/backbone/views/job-view.js"></script>
  <script src="/static/js/backbone/views/job-peek-view.js"></script>
  <script src="/static/js/backbone/views/app-view.js"></script>

  <!-- routers and app -->
  <script src="/static/js/backbone/routers/router.js"></script>

  <script src="/static/js/backbone/app.js"></script>
{% endblock %}