{% from "_formhelpers.html" import render_field, h1 %}
{% extends "main.html" %}

{% block content %}

  {{ h1 (get_title()) }}


  <div class="row">
    <div class="col-md-4">
      <ul class="job-list" id="job-list">
        <li class="alert alert-info job-loading" role="alert">Loading job list</li>
      </ul>
    </div>

    <div class="col-md-8" id="job-view">
    </div>
  </div>
</div>

  <!-- Templates -->
  <script type="text/template" id="no-jobs-template">
    <li class="alert alert-warning job-loading" role="alert">
      Currently there are no <strong>jobs</strong> created.
      But you can <a href="{{ url_for ('jobs.create_job') }}" class="btn btn-warning">create job</a> right now.
    </li>
  </script>

  <script type="text/template" id="message-template">
    <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
  </script>

  <script type="text/template" id="job-peek-template">
    <a href="{{ url_for ('jobs.list_jobs') }}#job/<%= id %>" data-job-id="<%= id %>"
       class="job-link panel panel-default list-group-item list-group-item-default">
      <div class="panel-body">
        <h3><small>{'{ .username|e }} / </small> <%= name %></h3>
        <p class="pull-right">#<%= scripts_id.length %></p>
      </div>
    </a>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-content panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= name %>
          <small> <%= id %></small>
        </h3>
      </div>
      <div class="panel-body">
        <div class="job-scripts">
          <!-- script template -->
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="script-template">
    <div id="script_<%= id %>">
      <h4>Script</h4>
      <a type="button" class="btn btn-danger pull-right run-script" data-script-id="<%= id %>">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <% if (exit_code === 666) { %>
          Run script
        <% } else { %>
         Rerun script
        <% } %>
      </a>

      <div class="script-info">
        <% if (exitCodeRepr) { %>
          <span class="glyphicon glyphicon-tag info-icon" aria-hidden="true"></span>
          <span class="info-name">Result: </span>
          <span class=" info-value"><%= exitCodeRepr %></span>
        <% } %>

        <% if (durationRepr) { %>
          <span class="glyphicon glyphicon-time info-icon" aria-hidden="true"></span>
          <span class="info-name">Duration: </span>
          <span class=" info-value"><%= durationRepr %></span>
        <% } %>

        <% if (startAtRepr) { %>
          <span class="glyphicon glyphicon-calendar info-icon" aria-hidden="true"></span>
          <span class="info-name">Finished: </span>
          <span class="info-value"><%= startAtRepr %></span>
        <% } %>

        <% if (!exitCodeRepr) { %>
          <span class="glyphicon glyphicon-info-sign info-icon" aria-hidden="true"></span>
          <span class="info-name">No results: </span>
          <span class="info-value">Script has not run yet!</span>

        <% } %>
      </div>

      <ol class="script-commands">
        <!-- command template -->
      </ol>
    </div>
  </script>

  <script type="text/template" id="command-template">
    <% if (!!source_code.trim()) { %>
      <% if (hasData) { %>
        <li class="collapsible-command" id="command_<%= id %>">
      <% } else { %>
        <li class="non-collapsible-command" id="command_<%=  id %>">
      <% } %>

        <code class="source"><%= source_code %></code>

        <% if (exitCodeRepr) { %>
          <code class="info pull-right exit-info"><%= exitCodeRepr %></code>
        <% } else { %>
          <code class="info pull-right exit-info hidden" />
        <% } %>

        <% if (durationRepr) { %>
          <code class="info pull-right duration-info"><%= durationRepr %></code>
        <% } else { %>
          <code class="info pull-right duration-info hidden" />
        <% } %>
      </li>

      <div class="collapsible-closed stdout-stderr">
        <% if (outputLines.length) { %>
          <pre class="text-info command-output">
              <% _.each(outputLines, function (value, index) { %>
                <li class="command-output-<%= value.type %>"><%= value.line %></li>
              <% }); %>
          </pre>
        <% } else { %>
          <pre class="text-info command-output hidden" />
        <% } %>
      </div>
    <% } %>
  </script>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/static/js/frameworks/backbone.js"></script>
  <script src="/static/js/frameworks/backbone.localStorage.js"></script>
  <script src="/static/js/frameworks/socket.io.min.js"></script>

  <!-- models and collections -->
  <script src="/static/js/backbone/models/job.js"></script>
  <script src="/static/js/backbone/collections/jobs.js"></script>
  <script src="/static/js/backbone/sockets/run-code.js"></script>

  <!-- views -->
  <script src="/static/js/backbone/views/job-view.js"></script>
  <script src="/static/js/backbone/views/script-view.js"></script>
  <script src="/static/js/backbone/views/command-view.js"></script>
  <script src="/static/js/backbone/views/job-peek-view.js"></script>
  <script src="/static/js/backbone/views/app-view.js"></script>

  <!-- routers and app -->
  <script src="/static/js/backbone/routers/router.js"></script>

  <script src="/static/js/backbone/app.js"></script>
{% endblock %}