{% from "_formhelpers.html" import render_field %}
{% extends "main.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-up.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" class="form-sign-up" action="{{ request.path }}">
            <h1 class="form-sign-up-heading">
                <a href="{{ url_for('main') }}" title="go back" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                Sign up to PyRest
            </h1>

            {{ form.csrf_token }}

            {{ form.username.label(class='sr-only') }}
            {{ form.username(class='form-control', placeholder='username') }}

            {{ form.password.label(class='sr-only') }}
            {{ form.password(class='form-control', placeholder='password') }}

            {{ form.password_confirm.label(class='sr-only') }}
            {{ form.password_confirm(class='form-control', placeholder='confirmation') }}

            {{ form.email.label(class='sr-only') }}
            {{ form.email(class='form-control', placeholder='your@email') }}

            {% if form.errors %}
                <div class="list-group">
                {% for (error_group, error_list) in form.errors.iteritems() %}
                    {% for error in error_list %}
                        <div class="list-group-item list-group-item-danger">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}