<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Hello World in Backbone.js</title>
    <link href="./static/css/main.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>
<body>
<!-- ========= -->
<!-- Your HTML -->
<!-- ========= -->
<section id="todoapp">
    <header id="header">
        <h1>Todos</h1>
        <input id="new-todo" placeholder="What needs to be done?">
    </header>
    <section id="main">
        <ul id="todo-list"></ul>
    </section>
</section>
<!-- ========= -->
<!-- Templates -->
<!-- ========= -->
<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> />
        <label><%- title %></label>
        <input class="edit" value="<%- title %>" />
        <button class="destroy">remove</button>
    </div>
</script>
<!-- ========= -->
<!-- Libraries -->
<!-- ========= -->
<script src="./static/js/frameworks/jquery-2.1.3.js"></script>
<script src="./static/js/frameworks/underscore.js"></script>
<script src="./static/js/frameworks/backbone.js"></script>
<script src="./static/js/frameworks/backbone.localStorage.js"></script>
<script src="./static/js/app.js"></script>
<!-- =============== -->
<!-- Javascript code -->
<!-- =============== -->
<script type="text/javascript">

</script>

</body>
</html>

<!--<html>-->
<!--<head>-->

<!--<meta charset="utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<meta name="description" content="PyRest demonstration">-->
<!--<meta name="author" content="Jan Hybš">-->
<!--<title>Python REST</title>-->
<!--<link rel="stylesheet" href="./static/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="./static/css/main.css">-->

<!--</head>-->
<!--<body>-->


<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
<!--data-target="#bs-navbar-collapse-1">-->
<!--<span class="sr-only">Toggle nav</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="/">PyRest</a>-->
<!--</div>-->

<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav">-->

<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->

<!--<li role="presentation"><a href="/user/sign-in">Login</a></li>-->
<!--<li role="presentation"><a href="/user/sign-up">Sign up</a></li>-->

<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
<!--&lt;!&ndash; nav &ndash;&gt;-->


<!--<div class="container">-->
<!--<div class="jumbotron">-->


<!--<h1>-->
<!--<a href="/" title="go back" class="btn btn-default btn-lg">-->
<!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--</a>-->
<!--Python REST-->
<!--</h1>-->


<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<ul class="job-list">-->

<!--<li class=" panel panel-default list-group-item list-group-item-default">-->
<!--<a href="#19ed79ed-96b9-4b24-82e6-7f3dabc670a3">-->
<!--<div class="panel-body">-->
<!--<h3>-->
<!--<small>Hans /</small>-->
<!--Job 3-->
<!--</h3>-->
<!--<p class="pull-right"># 0</p>-->
<!--<ul>-->

<!--<li>-->
<!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
<!--Result: No results-->
<!--</li>-->

<!--</ul>-->
<!--</div>-->
<!--</a>-->
<!--</li>-->


<!--<li class=" panel panel-default list-group-item list-group-item-success">-->
<!--<a href="#6c01088e-502d-4335-8ba5-dfe8b25c5fc1">-->
<!--<div class="panel-body">-->
<!--<h3>-->
<!--<small>Hans /</small>-->
<!--Job 1-->
<!--</h3>-->
<!--<p class="pull-right"># 1</p>-->
<!--<ul>-->

<!--<li>-->
<!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
<!--Result: Success-->
<!--</li>-->


<!--<li>-->
<!--<span class="glyphicon glyphicon-time" aria-hidden="true"></span>-->
<!--Duration: <abbr title="15.6">15.6 sec</abbr>-->
<!--</li>-->


<!--<li>-->
<!--<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>-->
<!--Finished: <abbr title="{ job.script().timestamp }}">just now</abbr>-->
<!--</li>-->


<!--</ul>-->
<!--</div>-->
<!--</a>-->
<!--</li>-->


<!--<li class=" panel panel-default list-group-item list-group-item-default">-->
<!--<a href="#73081401-1176-4874-954c-e17b378630d6">-->
<!--<div class="panel-body">-->
<!--<h3>-->
<!--<small>Hans /</small>-->
<!--Job 2-->
<!--</h3>-->
<!--<p class="pull-right"># 2</p>-->
<!--<ul>-->

<!--<li>-->
<!--<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>-->
<!--Result: No results-->
<!--</li>-->


<!--</ul>-->
<!--</div>-->
<!--</a>-->
<!--</li>-->


<!--</ul>-->
<!--</div>-->

<!--<div class="col-md-8">-->

<!--&lt;!&ndash;<div class="alert alert-info" role="alert">Loading job details</div>&ndash;&gt;-->
<!--<div id="job_container">Loading...</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<script src="./static/js/frameworks/jquery-2.1.3.js"></script>-->
<!--<script src="./static/js/frameworks/underscore.js"></script>-->
<!--<script src="./static/js/frameworks/backbone.js"></script>-->
<!--<script src="./static/js/frameworks/backbone.localStorage.js"></script>-->
<!--<script src="./static/js/backbone/app.js"></script>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; body &ndash;&gt;-->
<!--</body>-->
<!--</html>-->